<div class="container">
    <div class="page-header-row">
        <a routerLink="/home">
            <mat-icon>arrow_back_ios</mat-icon>
            <span>Back</span>
        </a>
        <h1>Orders</h1>
    </div>
    
    <!-- Main body -->

    <!-- test bootstrap grid system -->
    <div class="row">
        <div class="col-lg-12 col-md-4 col-sm-12" style="background:red;">
            first
        </div>
        <div class="col-lg-6 col-md-4 col-sm-6" style="background:green;">
            second
        </div>
        <div class="col-lg-6 col-md-4 col-sm-6" style="background:yellow;">
            third
        </div>
    </div>
    
</div>