<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav
      class="sidenav"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="mobileQuery.matches ? false : true"
      [fixedInViewport]="mobileQuery.matches"
      [fixedTopGap]="56">

    <!-- Left menu list -->
    <mat-nav-list class="nav-list">

      <!-- show app name in mobile view only -->
      <ng-container *ngIf="mobileQuery.matches">
        <div class="app-logo">
          <mat-icon>blur_on</mat-icon>
          <h3>Engenho Novo NG2</h3>
        </div>
        <mat-divider></mat-divider>
      </ng-container>

      <!-- links -->
      <div>
        <a mat-list-item routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" (click)="closeSideNav()" >
          <mat-icon>all_inclusive </mat-icon>
          <span>In Media Res</span>
        </a>
        <a mat-list-item routerLink="/orders" routerLinkActive="active-link" (click)="closeSideNav()" >
          <mat-icon>my_location</mat-icon>
          <span>In Principio</span>
        </a>
        <a mat-list-item routerLink="/customers" routerLinkActive="active-link" (click)="closeSideNav()" >
          <mat-icon>free_breakfast</mat-icon>
          <span>Freguesia</span>
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item routerLink="/settings" routerLinkActive="active-link" (click)="closeSideNav()" >
          <mat-icon>directions_bike</mat-icon>
          <span>Rio de Dinheiro</span>
        </a>
        <a mat-list-item routerLink="/help" routerLinkActive="active-link" (click)="closeSideNav()" >
          <mat-icon>flight</mat-icon>
          <span>João Pessoa</span>
        </a>
        <a mat-list-item routerLink="/feedback" routerLinkActive="active-link" (click)="closeSideNav()" >
          <mat-icon>local_bar</mat-icon>
          <span>San Pavlov City</span>
        </a>

        <mat-divider></mat-divider>
      </div>

      <!-- copyright -->
      <span class="copyright">
        <mat-icon>waves</mat-icon>
        &nbsp;Clonado na Samboja 2019</span>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Outlet container -->
  <mat-sidenav-content>
    <div class="outlet-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
