<div class="container">
  <h1>Login</h1>


  <div class="login-container">
    <p class="error-text">Warning !!!</p>

    <mat-form-field appearance="fill">
      <mat-label>Login</mat-label>
      <input matInput [type]="'text'">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </div>


  <button mat-raised-button color="primary" (click)="login()">sign in</button>
</div>


