<div class="container">
    <div class="page-header-row">
        <a routerLink="/home">
            <mat-icon>arrow_back_ios</mat-icon>
            <span>Back</span>
        </a>
        <h1>Profile</h1>
    </div>
    
    <!-- Personal info -->
    <mat-card class="person">
        <p>Personal info</p>

        <mat-list>
            <!-- name -->
            <mat-list-item>
                <mat-icon matListIcon>person</mat-icon>
                <p matLine>User name</p>
                <p matLine>Nurzhan Mukhamedkali</p>
            </mat-list-item>
            <!-- mobile tel -->
            <mat-list-item>
                <mat-icon matListIcon>cake</mat-icon>
                <p matLine>Birthday</p>
                <p matLine>31 march 1993</p>
            </mat-list-item>
            <!-- mobile tel -->
            <mat-list-item>
                <mat-icon matListIcon>phone</mat-icon>
                <p matLine>Mobile number</p>
                <p matLine>8 701 017 22 11</p>
            </mat-list-item>
            <!-- work tel -->
            <mat-list-item>
                <mat-icon matListIcon>phone</mat-icon>
                <p matLine>Work number</p>
                <p matLine>8 701 017 22 11</p>
            </mat-list-item>
            <!-- job position -->
            <mat-list-item>
                <mat-icon matListIcon>work</mat-icon>
                <p matLine>Job position</p>
                <p matLine>Senior engineer</p>
            </mat-list-item>
        </mat-list>

    </mat-card>

    <br>

    <!-- Activity -->
    <mat-card class="activity">
        <p>My Activity</p>

        <mat-list>
            <mat-list-item> 12.03.2018 13:42:10 | Astana, Kazakhstan | Chrome </mat-list-item>
            <mat-list-item> 13.03.2018 15:28:52 | Astana, Kazakhstan | Chrome </mat-list-item>
            <mat-list-item> 14.03.2018 07:13:00 | Astana, Kazakhstan | Chrome </mat-list-item>
        </mat-list>

    </mat-card>
</div>